body{
  background-image: url("https://img.freepik.com/free-photo/antique-hourglass-time-running-out-sand-generated-by-ai_188544-27610.jpg?size=626&ext=jpg&uid=R77256161&ga=GA1.2.219549287.1690818811&semt=sph");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-color: black;
}

.ContainerTimer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255, 0.1); 
  text-align:center;
  
}
.Heading{
  font-size: 60px;
  color: #eeeee9;
  font-family: 'Roboto', sans-serif;
}
.InputTime{
  padding: 15px;
  width: 50%;
  border: none;
  background-color:#eeeee9 ;
  color: #191919;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.Header{
  font-size: 100px;
  color: #eeeee9;
  font-family: 'Roboto', sans-serif;
}
.Btn{
  padding: 15px;
  width: 200px;
  font-size: 25px;
  background-color: #59CE8F;
  color: #eaeae7;
  border: none;
  margin-bottom: 60px;
}
.Btn:hover{
  background-color: #eaeae7;
  color: #59CE8F;
}

